<table class="ui table">
  <thead>
    <tr>
      <th>Search for top 100 Tweets: </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>
  			<input type="text"
class="form-control"
[(ngModel)]="input"
(input) = "checkString(input)">
<button class="btn"
[disabled]="stringIsEmpty"
(click)="onSearch()">OK
</button>
<br>
<p [innerText] = statusMessage>
    <!-- above line is DATA BINDING, below line is STRING INTERPOLATION -->
    {{ statusMessage }}
</p>
  		</td>
  	</tr>
    <tr *ngFor="let tweetEntry of listOfTweets">
      <td>@{{ tweetEntry.screen_name }} : {{tweetEntry.text}} 
        <!-- this needs to be an object accessed here with tweetEntry.text -->
      	<br>
      <img class="button" src="../../assets/heart.png" (click)="favoriteTweet(tweetEntry)">
  <img class="button" src="../../assets/retweet.png" (click)="retweetTweet(tweetEntry)">
  
</td>
    </tr>
  </tbody>
</table>