<label>Search for top 100 Tweets: </label>
<input type="text"
class="form-control"
[(ngModel)]="input"
(input) = "checkString(input)">

<p>
    {{ input }}
</p>

<button class="btn"
[disabled]="stringIsEmpty"
(click)="onSearch()">OK
</button>

<p [innerText] = statusMessage>
    <!-- above line is DATA BINDING, below line is STRING INTERPOLATION -->
    {{ statusMessage }}
</p>


<div class="tweet" *ngFor="let entryTweet of listOfTweets">
{{entryTweet}}
<br>
</div>

<!-- <ul>
  <li *ngFor="let entryTweet of listOfTweets">
      {{ entryTweet }}
  </li>
</ul> -->
