.tweet{
    background-color: skyblue;
      width: 80%;
      padding: 25px;
      border: 10px solid navy;
      margin: 50px;
  
  }

.button {
    padding: 5px;
    
}

img:hover {
    cursor: pointer;
    opacity: 0.7;
}
  