<h1 class="ui header">PORT69: TwitterApp</h1>
<div *ngIf="!isAuthenticated">
  <p>Please login to have access to this app:
 </p>
  <button id="login-button" class="ui primary button" role="button" (click)="login()">Login</button>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>

  <p>This is an application created for Homework #2 for CMPE172: Entererprise Platform Software.</p>

  <p>The credentials for the user are currently hardcoded for the convenience of testing & development.</p>

<div class = "centered">
  <br><br>
  Interact with the features above, then:
  <br><br><br>
Check your tweets at
  
  <a href="https://dev-323697.oktapreview.com/home/twitter/0oai2apw3h20QfJYt0h7/150?fromHome=true">Official Twitter</a>
  <br>
  <br>
  or
<br>
  <br>
  Go back to
  <a href="http://localhost:4200">PORT69 Portal</a>
  
  <br>
  <br>

</div>

</div>